<div id="header" class="header">
    <img alt="{{iconLogoAlt}}" class="header__img" src="{{dzenLogoSrc}}">
    <div class="header-controls">
        <div class="header-controls-button">
            <img alt="{{iconCreateAlt}}" src="{{iconCreateSrc}}" class="header-controls-button__img">
            <a href="{{CREATE_POST}}" class="header-controls-button__content">
                {{buttonCreateText}}
            </a>
        </div>
        <div class="header-controls-button">
            <img src="{{iconVideoSrc}}" alt="{{iconVideoAlt}}" class="header-controls-button__img">
            <a href="{{VIDEO}}" class="header-controls-button__content">
                {{buttonVideoText}}
            </a>
        </div>
        <div class="header-controls-button">
            <img src="{{iconSearchSrc}}" alt="{{iconSearchAlt}}" class="header-controls-button__img">
            <a href="{{SEARCH}}" class="header-controls-button__content">
                {{buttonSearchText}}
            </a>
        </div>
    </div>
</div>
